{% extends 'base.html' %}
{% load static %}

{% block cart %} {{ cartItems }} {% endblock cart %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="box-element">

                <form action="{% url 'getitems' %}" method="post">
                {% csrf_token %}
                <input class="form-control" name="orderId" type="number" placeholder="Enter Order Id">
                <br>
                
                <button style="float:center; margin:5px;" class="btn appointment-btn text-center" type="submit">Get Items!</button>
                </form>
            </div>


            <div class="box-element">
                <h3>Shipping Address:</h3>
                <br>
                <p>{{ address.name }}</p>
                {{ address.address }},
                {{ address.city }},
                {{ address.state }},
                {{ address.zipcode }}
                <p>{{ address.email }},
                {{ address.phone }}</p>
            </div>

            <br>
            <div class="box-element">
                <div class="cart-row">
                    <div style="flex:2"><strong>Product</strong></div>
                    <div style="flex:2"><strong>Item</strong></div>
                    <div style="flex:1"><strong>Quantity</strong></div>
                    <div style="flex:1"><strong>Date Ordered</strong></div>
                    <div style="flex:1"><strong>Customer Username</strong></div>
                </div>
                {% for item in items %}
                <div class="cart-row">
                    <div style="flex:2"><img class="row-image" src="/media/{{ item.product.image }}"></div>
                    <div style="flex:2">
                        <p>{{ item.product.product_name }}</p>
                    </div>
                    <div style="flex:1">
                        <p class="quantity">{{ item.quantity }}</p>
                    </div>
                    <div style="flex:1">
                        <p>{{ item.date_added }}</p>
					</div>
					<div style=" flex:1">
                            <p> {{ order.user }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    {% endblock body %}