{% extends 'base.html' %}



{% block body %}


<main>
    <div class="section">
        <div class="section-content">
            <div class="product-details">
                <ul class="product-images">
                    <li class="preview"><img src="/media/{{product.image}}" alt=""></li>
                    <!-- Don't show small pictures if there's only 1 -->
                    <li>
                        <a href="javascript:void(0)"><img src="https://source.unsplash.com/random/300x200/?eyeglass"
                                alt=""></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><img src="https://source.unsplash.com/random/300x200/?eyeglass"
                                alt=""></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><img src="https://source.unsplash.com/random/300x200" alt=""></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><img src="https://source.unsplash.com/random/300x200" alt=""></a>
                    </li>
                </ul>
                <ul class="product-info">
                    <li class="product-name">{{product.product_name}}</li>
                    <li class="product-price"><span>Rs. </span><span>{{product.price}}</span></li>
                    <li class="product-attributes">
                        <ul class="fields">
                            <li>
                                <div class="field-name">Color:</div>
                                <label>
                                    <input type="radio" name="color"> Gray
                                </label>
                                <label>
                                    <input type="radio" name="color"> Black
                                </label>
                            </li>
                            <li>
                                <div class="field-name">Size:</div>
                                <label>
                                    <input type="radio" name="size"> Kids
                                </label>
                                <label>
                                    <input type="radio" name="size"> Adults
                                </label>
                            </li>
                        </ul>
                    </li>
                    <li class="product-addtocart">
                        <button class="btn appointment-btn cart" id=pr{{ product.id }} type="button"><i
                                class="fas fa-cart-plus mr-2"></i>Add to cart</button>
                    </li>
                    <li class="product-description">

                        <p>{{product.desc}}</p>
                        <p>This string is randomly generated. The standard default text is designed to ramble about
                            nothing. The standard default text is designed to ramble about nothing. This string is
                            randomly generated.</p>
                        <p>Whoever evaluates your text cannot evaluate the way you write. Default text creates the
                            illusion of real text. Your design looks awesome by the way. If it is not real text, they
                            will focus on the design.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="section-title">
            <h2>Check Out More Hats</h2>
        </div>
        <div class="section-content">
            <ul class="product-list">
                <li>
                    <a href="javascript:void(0)" class="product">
                        <div class="product-image"><img
                                src="http://static.zara.net/photos///2016/I/0/1/p/6756/201/800/2/w/1024/6756201800_2_6_1.jpg?ts=1472203990151"
                                alt=""></div>
                        <div class="product-name">Knit Beanie</div>
                        <div class="product-price"><span>€</span><span>20.00</span></div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</main>
<script
    src='//production-assets.codepen.io/assets/common/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26eb7fd347590fbced3ab38af52e.js'></script>
<script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
<script>var Chef = {
        init: function () {
            this.productImagePreview();
            this.menuToggle();
            this.misc();
        },

        productImagePreview: function () {
            $(document).on('click', '.product-images li', function () {
                if (!$(this).hasClass('preview')) {
                    var src = $(this).find('img').attr('src');
                    $('.product-images .preview img').attr('src', src);
                }
            });
        },

        menuToggle: function () {
            $(document).on('click', '#menu .trigger', function () {
                // Toggle open and close icons
                $(this).find('img').each(function () {
                    if ($(this).hasClass('hidden')) {
                        $(this).removeClass('hidden');
                    } else {
                        $(this).addClass('hidden');
                    }
                });

                // Toggle menu links
                $(this).siblings('.links').stop(true, true).slideToggle(200);

                // Toggle open class
                $('#menu').toggleClass('open');
            });
        },

        misc: function () {
            // Misc stuff

            for (var i = 1; i <= 3; i++) {
                if (window.CP.shouldStopExecution(1)) { break; }
                $('.product').parent().eq(0).clone().appendTo('.product-list');
            }
            window.CP.exitedLoop(1);

        }
    };

    $(function () {
        Chef.init();
    });
//# sourceURL=pen.js
</script>


{% endblock body %}