{% extends 'base.html' %}

{% block body %}

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
          {% comment %} <li class="breadcrumb-item"><a href="category.html">Category</a></li> {% endcomment %}
          <li class="breadcrumb-item active" aria-current="page">Men Eyewear</li>
        </ol>
      </nav>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="row p-2">
  {% for i in product %}
    <div class="col-md-4 p-2">
      <a href="#exampleModalCenter" data-toggle="modal" data-target="">
        <div class="card">
          <img class="col-12 mx-auto pt-2 " src="/media/{{ i.image }}" alt="Product">
          <h5 class="text-center mt-1">{{ i.product_name }}</h5>
          <p class="text-center">{{ i.desc }}</p>
          <p class="text-center font-weight-bold">Rs. {{ i.price }}</p>
        </div>
      </a>
    </div>
  {% endfor %}

  
</div>
{% endblock body %}


{% comment %} 700x350 {% endcomment %}


    {% block js %}
    <script>
    console.log('Working')

    if(localStorage.getItem('cart') == null){
        var cart = {};
    }
    else{
        cart = JSON.parse(localStorage.getItem('cart'));
    }
    $('.cart').click(function(){
        console.log('clicked');
        var idstr = this.id.toString();
        console.log(idstr);
        if (cart[idstr] != undefined){
            cart[idstr] = cart[idstr] + 1;
        }
        else{
            cart[idstr] = 1;
        }
        console.log(cart);
        localStorage.setItem('cart',JSON.stringify(cart));
    });
    
    </script>
    {% endblock js %}