{% extends 'base.html' %}

{% block css %}
  #imgg{
    width: 500px !important;
    height: 200px !important;
  }
{% endblock css %}

{% block body %}

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
          {% comment %} <li class="breadcrumb-item"><a href="category.html">Category</a></li> {% endcomment %}
          <li class="breadcrumb-item active" aria-current="page">Men Eyewear</li>
        </ol>
      </nav>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="row p-2">
    {% for i in product %}
    <div class="col-md-4 p-2">
      <a class="text-decoration-none" href="checkout/{{i.id}}">

        <img id="imgg" class="col-12 pt-2" src="/media/{{ i.image }}" alt="Product">
        <h5 class="text-center mt-1">{{ i.product_name }}</h5>
        <p class="text-center">{{ i.desc }}</p>
        <h5 class="text-center font-weight-bold">Rs. {{ i.price }}</h5>
      </a>
    </div>
    {% endfor %}


  </div>
  {% endblock body %}


  {% comment %} 700x350 {% endcomment %}