{% extends 'base.html' %}
{% load static %}

{% block cart %} {{ cartItems }} {% endblock cart %}

{% block body %}

{% comment %} <div class="container-fluid">
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Men Eyewear</li>
        </ol>
      </nav>
    </div>
  </div>
</div> {% endcomment %}

<div class="col-12">
  <div class="row">
    <div class="col-12 text-center text-uppercase">
      <h2>Search Results</h2>
    </div>
    <div class="col-12 py-3">
      <div class="row">
        {% for i in allsearch %}
        <div class="col-lg-3 col-sm-6 my-3">
          <div class="col-12 bg-white text-center h-100 product-item">
            <div class="row h-100">
              <div class="col-12 p-0 mb-3">
                <a href="view_product/{{i.id}}">
                  <img id="imgg" src="/media/{{ i.image }}" class="img-fluid">
                </a>
              </div>
              <div class="col-12 mb-3">
                <a  href="view_product/{{i.id}}" class="product-name">{{ i.product_name }}</a>
              </div>
              <div class="col-12 mb-3">
                {% comment %} <span class="product-price-old">
                  $500
                </span>
                <br> {% endcomment %}
                <span class="product-price">
                  Rs. {{ i.price }}
                </span>
              </div>
                <button data-product={{i.id}} data-action="add" class="btn appointment-btn update-cart" type="button"></i>Add to cart</button>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>



{% endblock body %}


{% comment %}

700x350

<div class="row">

  <!-- Product -->
  <div class="col-lg-3 col-sm-6 my-3">
    <div class="col-12 bg-white text-center h-100 product-item">
      <div class="row h-100">
        <div class="col-12 p-0 mb-3">
          <a href="checkout/{{i.id}}">
            <img src="/media/{{ i.image }}" class="img-fluid">
          </a>
        </div>
        <div class="col-12 mb-3">
          <a href="checkout/{{i.id}}" class="product-name">{{ i.product_name }}</a>
        </div>
        <div class="col-12 mb-3">
          <span class="product-price-old">
            $500
          </span>
          <br>
          <span class="product-price">
            Rs. {{ i.price }}
          </span>
        </div>
      </div>
    </div>
  </div>








  <div class="container-fluid">
    <div class="row p-2">
      {% for i in product %}
      <div class="col-md-4 p-2">
        <a class="text-decoration-none" href="checkout/{{i.id}}">
          <img id="imgg" class="col-12 pt-2" src="/media/{{ i.image }}" alt="Product">
          <h5 class="text-center mt-1">{{ i.product_name }}</h5>
          <p class="text-center">{{ i.desc }}</p>
          <h5 class="text-center font-weight-bold">Rs. {{ i.price }}</h5>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>


  {% endcomment %}